<%
const data_index = require('../data/index.json');
const data_detail = require('../data/shops/' + id + '.json');
const data_common = data_index.shops.find(function(item) { return item.id === data_detail.id; });
const published_at = data_common.date;
const name = data_common.title;

const template_layout_top = require("../shared/_layout_top.ejs");
%>
<%- template_layout_top({
  data: data_detail,
  data_common: data_common,
  type: type,
  global: global
}) %>

<div class="p-shop">
  <section class="p-shop_section">
    <div class="p-shop_meta">
      <time class="p-shop_meta-date">
        <%= published_at %>
      </time>
    </div>
    <div class="p-shop_img-wrap">
      <img class="p-shop_img"
           src="/assets/images/shops/<%= id %>/inner.jpg"
           alt="店内 | <%= name %>">
    </div>
    <h2 class="p-shop_name c-heading-a">
      <%= name %>
    </h2>
    <p class="p-shop_excerpt">
      <%- data_detail.inner %>
    </p>
    <div class="p-shop_sns"></div>
  </section>

  <section class="p-shop_section">
    <div class="p-shop_img-wrap">
      <img class="p-shop_img"
           src="/assets/images/shops/<%= id %>/menu.jpg"
           alt="メニュー | <%= name %>">
    </div>
    <h3 class="c-heading-a c-heading--medium">
      <%= data_detail.menu_title %>
    </h3>

    <p>
      <%- data_detail.menu %>
    </p>
  </section>

  <section class="p-shop_section">
    <div class="p-shop_img-wrap">
      <img class="p-shop_img"
           src="/assets/images/shops/<%= id %>/staff.jpg"
           alt="スタッフ | <%= name %>">
    </div>
    <h3 class="c-heading-a c-heading--medium">
      <%= data_detail.staff_title %>
    </h3>

    <p>
      <%- data_detail.staff %>
    </p>
  </section>

  <section class="p-shop_section">
    <h3 class="c-heading-b c-heading--medium">
      店舗詳細
    </h3>

    <ul class="c-list-detail_list">
      <% const links = data_detail.detail.links; %>
      <% if (links.length) { %>
      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">link</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            リンク
          </h4>
          <p class="c-list-detail_content">
            <% links.forEach(function (link, idx) { %>
            <a href="<%= link.url %>"
               target="_blank"
               data-touch
            ><%= link.title %></a>
            <% if ((links.length - 1) !== idx) { %>
            /
            <% } %>
            <% }); %>
          </p>
        </div>
      </li>
      <% } %>

      <% const contact = data_detail.detail.contact; %>
      <% if (contact && Object.keys(contact).length) { %>
      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">contact_phone</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            連絡先
          </h4>
          <p class="c-list-detail_content">
            <% if (contact.tel) { %>
            TEL: <%= contact.tel %><br/>
            <% } %>
            <% if (contact.fax) { %>
            FAX: <%= contact.fax %><br/>
            <% } %>
            <% if (contact.mail) { %>
            MAIL: <%= contact.mail %>
            <% } %>
          </p>
        </div>
      </li>
      <% } %>

      <% const date = data_detail.detail.date; %>
      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">cake</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            開店日
          </h4>
          <p class="c-list-detail_content">
            <%= date.release %>
          </p>
        </div>
      </li>

      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">date_range</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            営業日
          </h4>
          <p class="c-list-detail_content">
            <%= date.working %>
          </p>
        </div>
      </li>

      <% const payments = data_detail.detail.payments; %>
      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">credit_card</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            決済方法
          </h4>
          <p class="c-list-detail_content">
            <% payments.forEach(function (method, idx) { %>
            <%= method %>
            <% if ((payments.length - 1) !== idx) { %>
            /
            <% } %>
            <% }); %>
          </p>
        </div>
      </li>

      <% const place = data_detail.detail.place; %>
      <li class="c-list-detail_item">
        <div class="c-list-detail_icon">
          <i class="material-icons">place</i>
        </div>
        <div class="c-list-detail_text">
          <h4 class="c-list-detail_title">
            アクセス
          </h4>
          <p class="c-list-detail_content">
            <%= place %>
          </p>
        </div>
      </li>
    </ul>
  </section>

  <% const google_map = data_detail.detail.google_map; %>
  <section class="p-shop_section">
    <h3 class="c-heading-b c-heading--medium u-ff-en">
      Google Map
    </h3>

    <% // APIはお金かかるためGoogleMapからiframeのURLを取ってくる   %>
    <iframe src="<%= google_map.iframe_url %>"
            width="100%"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen></iframe>
  </section>
</div>

<%
const template_layout_bottom = require("../shared/_layout_bottom.ejs");
%>

<%- template_layout_bottom({
  data: data_detail,
  data_common: data_common,
  type: type,
  name: name,
  global: global
}) %>
