</main>
<%
const template_footer = require("./_footer.ejs");
var title = data.title;
if (data.title) {
  title += ' | ';
}
title += global.site_name;
%>
<%- template_footer({
  global: global
}) %>
</div>

<script src="/assets/js/app.js"></script>

<!--
MEMO: JSON-LD
ref: https://qiita.com/narumana/items/b66969b80cce848b2ddf
https://webty.jp/staffblog/production/post-629/
http://beginner-seogirl.com/blog/about-seo/semantic-localbusiness-json-ld/
https://www.itti.jp/web-design/microdata-json-ld/


TODO: 店舗ジャンル
https://schema.org/LocalBusiness#subtypes
-->

<%
const sns_links = Object.keys(global.sns).map(function (snsKey) {
  return global.sns[snsKey].url;
});
%>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "<%= global.site_name %>",
  "url": "<%= global.host %>"
  "sameAs": <%- JSON.stringify(sns_links) %>
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= global.site_name %>",
  "inLanguage": "jp",
  "publisher": {
    "@type": "Organization",
    "name": "<%= global.owner %>",
    "logo": {
      "@type": "ImageObject",
      "url": "<%= global.logo_image_full_path %>"
    }
  },
  "copyrightYear": "<%= new Date().toISOString() %>",
  "headline": "<%= title %>",
  "description": "<%= data.description %>",
  "url":"<%= global.host %>/<%= data.url %>"
}
</script>

<% if (name === 'index') { %>
  <%
  const itemListElement = data.shops.reverse().map(function(shop, idx) {
    return {
      "@type": "ListItem",
      "position": idx + 1,
      "url": global.host + '/shops/' + shop.id
    };
  });
  %>
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"ItemList",
    "itemListElement": <%- JSON.stringify(itemListElement) %>
  }
  </script>
<% } %>

<% if (type === 'collection' && name === 'shops') { %>
  <%
  const images = ['top', 'inner', 'menu', 'staff'].map(function(item, idx) {
    return global.host + '/assets/images/shops/' + data.id + '/' + item + '.jpg';
  });
  const links = data.detail.links.map(function(item, idx) {
    return item.url;
  });
  %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "LocalBusiness",
    "name": "<%= data_common.title %>",
    "description": "<%= data.description %>",
    "image": <%- JSON.stringify(images) %>,
    "telephone": "<%= data.detail.contact.tel %>",
    "url": "<%= global.host %>/<%= data.url %>",
    "sameAs": <%- JSON.stringify(links) %>,
    "priceRange": "<%= data.detail.price_range %>",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "JP",
      "postalCode": "<%= data.detail.address.postalCode %>",
      "addressRegion": "<%= data.detail.address.addressRegion %>",
      "addressLocality": "<%= data.detail.address.addressLocality %>",
      "streetAddress": "<%= data.detail.address.streetAddress %>"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 40.761293,
      "longitude": -73.982294
    },
    "openingHoursSpecification": <%- JSON.stringify(data.detail.openingHoursSpecification) %>
  }
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%= global.host %>/",
          "name": "TOP"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%= global.host %>/shops/<%= data.id %>",
          "name": "<%= data_common.title %>"
        }
      }
    ]
  }
  </script>
<% } %>

</body>
</html>
