<%
  const data_index = require('./data/index.json');
  const template_layout_top = require("./shared/_layout_top.ejs");
%>
<%- template_layout_top({ data: data_index }) %>

<%#- include src/shared/_layout_top %>

<div class="p-index">
  <section class="p-index_shops">
    <!-- section title
    <div class="p-index_shops-title c-heading">
      <i class="c-heading_icon material-icons">fiber_new</i>
      <span class="c-heading_text">LATED SHOPS</span>
    </div>
    -->
    <ul class="c-list-thumb">
      <% data_index.shops.forEach(function(shop) { %>
      <li class="c-list-thumb_item">
        <div class="c-list-thumb_img-wrap">
          <img class="c-list-thumb_img"
               src="/assets/images/<%= shop.img %>"
               alt="<%= shop.title %>">
        </div>
        <div class="c-list-thumb_desc">
          <time class="c-list-thumb_date">
            <%= shop.date %>
          </time>
          <h3 class="c-list-thumb_title">
            <%= shop.title %>
          </h3>
          <p class="c-list-thumb_excerpt u-elps-3">
            <%= shop.excerpt %>
          </p>
          <div class="c-list-thumb_more">
            <a class="c-list-thumb_more-link"
               href="/tmp_detail.html">
              READ MORE >
            </a>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </section>
</div>

<%- include src/shared/_layout_bottom %>
