<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO start -->
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <link rel="canonical" href="">
  <!-- SEO end -->

  <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  <style type="text/css" id="fpbf_ac93d8111_css">
    @font-face {
      font-family: 'fpbf_ac93d8111';
      src: url('http://webfont-pub.weblife.me/fp-bf/3d4c80e6') format('woff');
    }
  </style>
</head>
<body>
<div class="l-container">
  <header class="l-header"></header>

  <main class="l-content">
    <div class="p-index">
      <section class="p-index_shops">
        <div class="p-index_shops-title">
          <span class="c-icon_new"></span>
          <span>新着のお店</span>
        </div>
        <ul class="c-list">
          <% [
            { id: 1, title: '臨時休業のお知らせ', excerpt: '概要あのイーハトーヴォの透き通った風...', date: '2019.12.24', img: 'img_01.jpg' },
            { id: 2, title: '臨時休業のお知らせ', excerpt: '概要あのイーハトーヴォの透き通った風...', date: '2019.12.24', img: 'img_02.jpg' },
            { id: 3, title: '臨時休業のお知らせ', excerpt: '概要あのイーハトーヴォの透き通った風...', date: '2019.12.24', img: 'img_03.jpg' },
            { id: 3, title: '臨時休業のお知らせ', excerpt: '概要あのイーハトーヴォの透き通った風...', date: '2019.12.24', img: 'img_04.jpg' },
          ].forEach(function(shop) { %>
          <li class="c-list_item">
            <div class="c-list_img-wrap">
              <img class="c-list_img"
                   src="/assets/images/<%= shop.img %>"
                   alt="<%= shop.title %>">
            </div>
            <div class="c-list_caption">
              <div class="c-list_date">
                <%= shop.date %>
              </div>
              <div class="c-list_title">
                <%= shop.title %>
              </div>
              <div class="c-list_excerpt">
                <%= shop.excerpt %>
              </div>
              <div class="c-list_more">
                <a class="c-list_more-link"
                   href="/shops/<%= shop.id %>">
                  READ MORE >
                </a>
              </div>
            </div>
          </li>
          <% }); %>
        </ul>
      </section>
    </div>
  </main>

  <footer class="l-footer"></footer>
</div>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
